mgl-map {
  height: 100%;
  width: 100%;
  .material-icons{
    // font-size: 24px;
  }
}

::ng-deep.mapboxgl-popup-content{
  width: 250px;
}

.marker-card{
  background-color: transparent !important;
  border: 2px;
  border-color: black;
}