<mgl-map
  [style]="'mapbox://styles/mapbox/streets-v9'"
  [zoom]="[13]"
  [center]="center"
  [doubleClickZoom]="false"
  (mapDblClick)="setLandmark($event)">
  <mgl-control position="bottom-left" mglNavigation></mgl-control>
  <mgl-control
    position="bottom-left"
    style="margin: 1em"
    mglGeolocate
    [positionOptions]="{ enableHighAccuracy: true }"
    [trackUserLocation]="true"></mgl-control>
  <mgl-marker #myMarker *ngFor="let point of landmarks" [lngLat]="point.lngLat">
    <mat-icon (click)="onClick($event, point)">room</mat-icon>
  </mgl-marker>
  <mgl-popup *ngIf="selectedPoint" [lngLat]="selectedPoint.lngLat">
    <mat-card class="marker-card mat-elevation-z0">
      <mat-card-title
        >{{ selectedPoint.city }}, {{ selectedPoint.country }}</mat-card-title
      >
      <hr />
      <mat-card-content>
        <p>{{ selectedPoint.address }}</p>
        <p>
          {{ selectedPoint.lngLat.lat | number: '2.1-3' }}(Lat),
          {{ selectedPoint.lngLat.lng | number: '2.1-3' }}(Lng)
        </p>
        <p>{{ selectedPoint.description }}</p>
      </mat-card-content>
    </mat-card>
  </mgl-popup>
</mgl-map>
