<div class="body">
  <div class="password-recovery">
    <div class="password-recovery-header">
      <mat-spinner *ngIf="loading" class="spinner" diamater="50"></mat-spinner>
      <img
        src="../../../../../assets/images/Watchout_logo.svg"
        alt="logo"
        width="40%"
        height="80%" />
      <h1>Watchout</h1>
      <h2>Forgot your password?</h2>
      <h3>Please enter your email</h3>
    </div>
    <form
      class="email-form"
      *ngIf="!loading"
      [formGroup]="form"
      (ngSubmit)="sendEmail()">
      <mat-form-field appearance="fill" class="width">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required />
      </mat-form-field>
      <button
        type="submit"
        class="width"
        mat-raised-button
        mat-button
        color="primary"
        [disabled]="form.invalid">
        Send email
      </button>
    </form>
    <span>Go Back to <a [routerLink]="['/sign-in']">Sign in</a></span>
  </div>
</div>
