<div class="fab-container">
  <button mat-fab class="fab-toggler" (click)="onToggleFab()" color="primary">
    <i class="material-icons-round" [@fabToggler]="{ value: fabTogglerState }">
      add
    </i>
  </button>
  <div [@speedDialStagger]="buttons.length">
    <button
      *ngFor="let btn of buttons"
      mat-mini-fab
      class="fab-secondary"
      color="secondary"
      (click)="callMenu(btn.icon)">
      <i class="material-icons-round">{{ btn.icon }}</i>
    </button>
  </div>
</div>
