<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <app-side-bar></app-side-bar>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-map-view [(selectedFeature)]="selectedFeature"></app-map-view>
    <app-search-box
      style="flex-grow: 1"
      (onTextChange)="onTextChange($event)"
      (onMenuButtonClick)="sidenav.toggle()"
      [(selectedFeature)]="selectedFeature">
    </app-search-box>
    <app-event-fab (clickEvent)="openBottomSheet($event)"></app-event-fab>
  </mat-sidenav-content>
</mat-sidenav-container>
