mat-sidenav-container {
  height: 100%;
}

mat-sidenav {
  width: 320px;
  padding: 16px;
}

mat-sidenav-content {
  position: relative;
}

app-search-box {
  position: absolute;
  top: 0;
  left: 0;
}

app-event-fab {
  position: absolute;
  bottom: 0;
  right: 0;
}

app-search-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  width: 100%;
  align-items: center;
}

@media only screen and (min-width: 660px) {
  app-search-box {
    width: 300px;
  }
}