mat-nav-list > form {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px auto;
}

section.button {
    display: flex;
    justify-content: center;
}

section.button > button {
    width: 120px;
}

mat-slider {
    width: 100%;
}

.areaRadius {
    display: flex;
    justify-content: space-between;
}

div.areaRadius > div {
    display: flex;
    width: 60px;
}

mat-icon {
    color: rgba(128, 128, 128, 0.774);
}

section.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section.form-header > h3 {
    padding: 0%;
}

section.form-header > mat-icon:hover {
    cursor: pointer;
}