<!---------------------------------------------------------------------------------->
<!-------------------------------- Navigation Form -------------------------------->
<!---------------------------------------------------------------------------------->

<mat-nav-list *ngIf="eventType === 'location_on'">
  <form>
    <section class="form-header">
      <h3 mat-subheader>Navigation</h3>
      <mat-icon matSuffix (click)="onCloseMenu()">clear</mat-icon>
    </section>

    <mat-form-field appearance="outline">
      <mat-label>Location</mat-label>
      <mat-icon matPrefix>location_on</mat-icon>
      <mat-icon matSuffix>clear</mat-icon>
      <input matInput placeholder="Enter Location" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-icon matPrefix>category</mat-icon>
      <mat-select required>
        <mat-option value="Category1">Category 1</mat-option>
        <mat-option value="Category2">Category 2</mat-option>
        <mat-option value="Category3">Category 3</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Severity</mat-label>
      <mat-icon matPrefix>warning</mat-icon>
      <mat-select required>
        <mat-option value="Severity1">Severity 1</mat-option>
        <mat-option value="Severity2">Severity 2</mat-option>
        <mat-option value="Severity3">Severity 3</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Duration</mat-label>
      <mat-icon matPrefix>date_range</mat-icon>
      <input matInput placeholder="Enter duration in days" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <mat-icon matPrefix>comment</mat-icon>
      <mat-icon matSuffix>clear</mat-icon>
      <input matInput matInput required />
    </mat-form-field>

    <section class="button">
      <button mat-raised-button color="primary">Add event</button>
    </section>
  </form>
</mat-nav-list>

<!---------------------------------------------------------------------------------->
<!-------------------------------- Event Route Form -------------------------------->
<!---------------------------------------------------------------------------------->

<mat-nav-list *ngIf="eventType === 'moving'">
  <form>
    <section class="form-header">
      <h3 mat-subheader>Event on route</h3>
      <mat-icon matSuffix (click)="onCloseMenu()">clear</mat-icon>
    </section>

    <mat-form-field appearance="outline">
      <mat-label>Start route</mat-label>
      <mat-icon matPrefix>location_on</mat-icon>
      <mat-icon matSuffix>clear</mat-icon>
      <input matInput placeholder="Enter starting route" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>End route</mat-label>
      <mat-icon matPrefix>location_on</mat-icon>
      <mat-icon matSuffix>clear</mat-icon>
      <input matInput placeholder="Enter ending route" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-icon matPrefix>category</mat-icon>
      <mat-select required>
        <mat-option value="Category1">Category 1</mat-option>
        <mat-option value="Category2">Category 2</mat-option>
        <mat-option value="Category3">Category 3</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Severity</mat-label>
      <mat-icon matPrefix>warning</mat-icon>
      <mat-select required>
        <mat-option value="Severity1">Severity 1</mat-option>
        <mat-option value="Severity2">Severity 2</mat-option>
        <mat-option value="Severity3">Severity 3</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Duration</mat-label>
      <mat-icon matPrefix>date_range</mat-icon>
      <input matInput placeholder="Enter duration in days" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <mat-icon matPrefix>comment</mat-icon>
      <mat-icon matSuffix>clear</mat-icon>
      <input matInput matInput required />
    </mat-form-field>

    <section class="button">
      <button mat-raised-button color="primary">Add event</button>
    </section>
  </form>
</mat-nav-list>

<!---------------------------------------------------------------------------------->
<!-------------------------------- Event Area Form -------------------------------->
<!---------------------------------------------------------------------------------->

<mat-nav-list *ngIf="eventType === 'map'">
  <form>
    <section class="form-header">
      <h3 mat-subheader>Event on area</h3>
      <mat-icon matSuffix (click)="onCloseMenu()">clear</mat-icon>
    </section>

    <mat-form-field appearance="outline">
      <mat-label>Center of area</mat-label>
      <mat-icon matPrefix>location_on</mat-icon>
      <mat-icon matSuffix>clear</mat-icon>
      <input matInput placeholder="Enter Location" matInput required />
    </mat-form-field>
    <section>
      <div class="areaRadius">
        <span>Area radius *</span>
        <div>
          <input
            matInput
            type="text"
            [(ngModel)]="sliderValue"
            matInput
            name="slider-value" />
          <span>m</span>
        </div>
      </div>
      <mat-slider
        color="primary"
        max="400"
        min="0"
        step="1"
        [(ngModel)]="sliderValue"
        name="slider-value"
        aria-labelledby="example-name-label">
      </mat-slider>
    </section>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-icon matPrefix>category</mat-icon>
      <mat-select required>
        <mat-option value="Category1">Category 1</mat-option>
        <mat-option value="Category2">Category 2</mat-option>
        <mat-option value="Category3">Category 3</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Severity</mat-label>
      <mat-icon matPrefix>warning</mat-icon>
      <mat-select required>
        <mat-option value="Severity1">Severity 1</mat-option>
        <mat-option value="Severity2">Severity 2</mat-option>
        <mat-option value="Severity3">Severity 3</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Duration</mat-label>
      <mat-icon matPrefix>date_range</mat-icon>
      <input matInput placeholder="Enter duration in days" required />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <mat-icon matPrefix>comment</mat-icon>
      <mat-icon matSuffix>clear</mat-icon>
      <input matInput matInput required matInput name="description" />
    </mat-form-field>

    <section class="button">
      <button type="submit" mat-raised-button color="primary">Add event</button>
    </section>
  </form>
</mat-nav-list>
