<div class="body">
  <div class="register">
    <div class="register-header">
      <img
        src="../../../../../assets/images/Watchout_logo.svg"
        alt="logo"
        width="40%"
        height="80%" />
      <h1 class="h3 mb-3 fw-normal">Sign Up</h1>
      <mat-spinner *ngIf="loading" class="spinner" diamater="50"></mat-spinner>
    </div>
    <form
      class="register-form"
      *ngIf="!loading"
      [formGroup]="form"
      (ngSubmit)="signUp()">
      <mat-form-field class="width" appearance="fill">
        <mat-label>First Name</mat-label>
        <input type="text" matInput formControlName="firstName" />
        <mat-error *ngIf="firstName?.errors?.['required']"
          >This field is mandatory</mat-error
        >
        <mat-error *ngIf="firstName?.errors?.['pattern']"
          >Can only contain letters</mat-error
        >
      </mat-form-field>

      <mat-form-field class="width" appearance="fill">
        <mat-label>Last Name</mat-label>
        <input type="text" matInput formControlName="lastName" />
        <mat-error *ngIf="lastName?.errors?.['required']"
          >This field is mandatory</mat-error
        >
        <mat-error *ngIf="lastName?.errors?.['pattern']"
          >Can only contain letters</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" class="width">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          formControlName="email"
          required />
        <mat-error *ngIf="email?.errors?.['required']"
          >This field is mandatory.</mat-error
        >
        <mat-error *ngIf="email?.errors?.['email']"
          >Not a valid email</mat-error
        >
      </mat-form-field>

      <mat-form-field appearance="fill" class="width">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hide_pwd ? 'password' : 'text'"
          formControlName="password" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide_pwd = !hide_pwd"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide_pwd">
          <mat-icon>{{ hide_pwd ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="password?.errors?.['required']"
          >This field is mandatory</mat-error
        >
        <mat-error *ngIf="password?.errors?.['pattern']"
          >Minimum eight characters, at least one letter lower case, one letter
          upper case, one number and one special character</mat-error
        >
      </mat-form-field>
      <mat-form-field
        appearance="fill"
        class="width"
        [ngClass]="{'nonOverlapping': password?.errors?.['pattern']}">
        <mat-label>Confirm your password</mat-label>
        <input
          matInput
          [type]="hide_confirm_pwd ? 'password' : 'text'"
          formControlName="confirmPassword" />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hide_confirm_pwd = !hide_confirm_pwd"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide_confirm_pwd">
          <mat-icon>{{
            hide_confirm_pwd ? 'visibility_off' : 'visibility'
          }}</mat-icon>
        </button>
        <mat-error *ngIf="confirmPassword?.errors?.['required']"
          >This field is mandatory</mat-error
        >
        <mat-error *ngIf="confirmPassword?.errors?.['minLength']"
          >Not a valid password</mat-error
        >
        <mat-error *ngIf="confirmPassword?.errors?.['MustMatch']"
          >Confirm password didn't match</mat-error
        >
      </mat-form-field>

      <div class="width">
        <p>
          By clicking Sign Up, you agree to our
          <a href="url" class="isDisabled">Terms</a>,
          <a href="url" class="isDisabled">Data Policy</a> and
          <a href="url" class="isDisabled">Cookies Policy</a>
        </p>
      </div>

      <button
        type="submit"
        class="width"
        mat-raised-button
        mat-button
        color="primary"
        [disabled]="form.invalid">
        Sign Up
      </button>
    </form>
    <div class="login-footer">
      <span
        >Do you have account? <a [routerLink]="['/sign-in']">Sign in</a></span
      >
    </div>
  </div>
</div>
