.body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.password-recovery-step2 {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  text-align: center;
}

.width {
  width: 80%;
}

.reset-password-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  gap: 24px;
  align-items: center;
}

.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
  pointer-events: none;
}

.nonOverlapping {
  margin-top: 50px;
}
