.search-container {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  margin: 16px;

  input {
    flex-grow: 1;
  }
}

.search-input-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  padding-right: 8px;

  input {
    background-color: transparent;
    border: 0px solid black;
  }

  input:focus {
    outline: none !important;

    background-color: transparent;
    border: 0px solid black;
  }
}

.search-box {
  margin: 8px;
}

.menu-button {
  position: absolute;
  top: 0px;
  left: 16px;
}
:host::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline-thick {
    opacity: 0.5;
    background-color: white;
  }
}

@media only screen and (min-width: 700px) {
  input {
    width: 300px;
  }
}

.address-container {
  .addres-item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 400px;
    padding: 8px;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 0px;
    cursor: pointer;

    .addresses {
      max-width: 350px;
      overflow: hidden;
      white-space: normal;
      display: block;
      text-align: justify;
      font-size: 0.9rem;
      line-height: 1rem;
      padding: 0px 8px;
    }
  }

  .addres-item:last-child {
    border-bottom: 1px solid black;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .addres-item:hover {
    background-color: rgb(212, 212, 212);
  }
}
