<div class="search-container">
  <div class="search-input-container">
    <button
      matbutton
      mat-icon-button
      matPrefix
      (click)="onMenuButtonClick.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <input
      matInput
      placeholder="New search"
      (blur)="onBlur($event)"
      [(ngModel)]="selectedAddress" />
    <mat-icon>search</mat-icon>
  </div>
  <div class="address-container" *ngIf="showAdresses && features.length > 0">
    <div
      class="addres-item"
      *ngFor="let feature of features"
      (click)="onSelect(feature)">
      <mat-icon>room</mat-icon>
      <span class="addresses" mat-button>
        {{ feature.place_name }}
      </span>
    </div>
  </div>
</div>

